<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="LibraryRootPaths" value="D:\OneDrive\Books\Audio Books\Fiction;D:\OneDrive\Books\Audio Books\Non-Fiction;D:\OneDrive\Books\Audio Books\Comedy" />
    <add key="OpenAudibleDownloadsFolderMp3Path" value="D:\Other Storage\OpenAudible\mp3" />
    <add key="SyncFromOpenAudibleDownloadsFolder" value="true" />
    <add key="OutputDirectoryName" value="__Renamed" />
    <add key="AudibleCliSyncPath" value="D:\Other Storage\AudibleCliSync" />
  </appSettings>
</configuration>