<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  <appSettings>
    <add key="LibraryRootPaths" value="E:\OneDrive\Books\Audiobooks\Fiction;E:\OneDrive\Books\Audiobooks\Non-Fiction;E:\OneDrive\Books\Audiobooks\Comedy" />
    <add key="OpenAudibleDownloadsFolderMp3Path" value="E:\GoogleDrive\Nonessential Backup\OpenAudible\mp3" />
    <add key="OpenAudibleDownloadsFolderM4bPath" value="E:\GoogleDrive\Nonessential Backup\OpenAudible\M4B" />
    <add key="OpenAudibleBookListPath" value="E:\GoogleDrive\Nonessential Backup\OpenAudible\books.json" />
    <add key="SyncFromOpenAudibleDownloadsFolder" value="true" />    
    <add key="OutputDirectoryName" value="__Renamed" />
    <add key="AudibleCliSyncPath" value="E:\GoogleDrive\Nonessential Backup\AudibleCliSync" />
    <add key="ReadarrAppDataRoute" value="\\192.168.1.121\e$\Media Indexes\Readarr" />
    <add key="LibFDK_AAC_EncodingEnabled" value="true"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>